<!DOCTYPE html>
<html ng-app="translateApp">
    <head>
        <meta charset="utf-8">
        <title>Translation Manager</title>
        <link rel='stylesheet' href="/stylesheets/style.css" />

        <script src="/javascripts/angular.js"></script>
        <script src="/javascripts/angular-route.js"></script>
        <script src="/javascripts/angular-cookies.js"></script>
        <script src="/javascripts/angular-translate.js"></script>
        <script src="/javascripts/angular-translate-loader-url.js"></script>
        <script src="/javascripts/main.js"></script>
    </head>
    <body>
        <script>
            var app = angular.module('translateApp', ['ngRoute', 'ngCookies', 'pascalprecht.translate']);

            // Ryan's little helper (aka Overwrite translation filter, cos screw the rules!)
            app.filter('t', [
                '$parse',
                '$translate',
                function ($parse, $translate) {
                    return function (translationId, interpolateParams, interpolation) {
                        if (!window.angular.isObject(interpolateParams)) interpolateParams = $parse(interpolateParams)(this);
                        return $translate.instant(translationId + '.values.' + $translate.use(), interpolateParams, interpolation);
                    };
                }
            ]);

            // Let's write a new loader, because the original is suitable
            app.factory('transLoader', function ($http, $q, $timeout, $rootScope) {
                return function(options) {

                    // Go fetch data from bertrands service
                    var deferred = $q.defer();
                    $http({
                        method: 'GET',
                        url: 'lang'
                    }).success(deferred.resolve).error(function () {
                        deferred.reject(options.key);
                    });

                    // Use returned json for translations
                    deferred.promise.then(function(data) {
                        //setTimeout(function()
                        //{
                            $rootScope.translations = data;
                            $rootScope.selectedTranslationSet = 'Generic';
                            $rootScope.$digest();
                            console.debug(data);
                        //}, 1000); //simulate network latency @TODO: Remove when deploying
                    });

                    return deferred.promise;
                };
            });

            app.config(function ($translateProvider) {
                $translateProvider.useLoader('transLoader');
            });

            app.controller('langController', function ($scope, $http, $cookies, $location, $translate, $log) {

                // Keep an eye on translations array (ex: user fetches new translationSet)
                /*$scope.$watch('translations', function(val) {
                    $log.debug("Storing new translations...");
                    $scope.translationsTable = $scope.translationsTableRefresh();
                }, true);*/

                /*------------------------------------------
                                Settings
                -----------------------------------------*/
                $cookies.locale = $cookies.locale || "en";
                $translate.use($cookies.locale);

                $scope.languageKeys = [];
                $scope.availableLanguages = [{ key: 'en', name: 'English' }, { key: 'fr', name: 'Français' }];
                $scope.availableLanguages.map(function(v) {
                    $scope.languageKeys.push(v.key);
                });

                $scope.language = {
                    keys: $scope.languageKeys,
                    options: $scope.availableLanguages,
                    current: $cookies.locale,
                    change: function () {
                        $translate.use($scope.language.current);
                        $cookies.locale = $scope.language.current;
                    }
                };

                $log.warn($scope.translations);

                /* Flatten multidimensional array to single */
                $scope.translationsTableRefresh = function() {
                    var single = [];
                    $log.warn($scope.translations);
                    angular.forEach($scope.translations, function(trans, cat) {

                        if ($scope.selectedTranslationSet != cat) return;
                        
                        for (key in trans) {
                            single.push({
                                'key': key,
                                'values': trans[key].values,
                                'translationSets': trans[key].translationSets
                            });
                        }
                    }, single);
                    //$translate.refresh();
                    return single;
                };

                /* Fetch the translation set from service */
                $scope.$watch('selectedTranslationSet', function(value) {
                    if (typeof value != 'undefined') {
                        $log.debug('Changing set: ' + value);
                        $scope.translationsTable = $scope.translationsTableRefresh();
                    }
                }, true);

                $scope.enableEditing = function(trans) {
                    trans.enabled = !trans.enabled;
                };
                $scope.addTranslationSet = function(trans) {
                    var index = trans.translationSets.indexOf('');
                    if (index == -1) {
                        trans.translationSets.push( '' );
                    }
                };
                $scope.removeTranslationSet = function(trans) {
                    //trans.translationSets = trans.translationSets.join('').split('');
                    //console.log(trans.translationSets.join('').split(''));

                    //var updatedSets = trans.translationSets.filter(Number);
                    trans.translationSets = trans.translationSets.filter(function(x) {
                        console.log(x + ' -> ' + typeof x);
                        return x != '' && typeof x == 'string';
                    });
                    console.warn(trans.translationSets);
                };

                $scope.sendUpdatedTranslation = function(trans) {

                    var json = {};
                    json[trans.key] = {
                        'values': trans.values,
                        'translationSets': trans.translationSets
                    };

                    $log.debug(JSON.stringify(json, null, 4));

                    //$scope.translationsTable = $scope.translationsTableRefresh();

                    /*$http({
                        method  : 'PUT',
                        url     : '/translations',
                        data    : {
                            translationSet: trans.translationSet,
                            key: trans.key,
                            languageCode: lang,
                            value: val
                        },
                        dataType: "json",
                        headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
                    })
                    .success(function(data) {
                        $scope.infoMessage = data.message;
                        $scope.translationsTable = $scope.translationsTableRefresh();
                        $translate.refresh();
                    })
                    .error(function(data, status) {
                        $scope.errorMessage = 'FAILED! ' + status;
                        $translate.refresh();
                    });*/
                };
            });
        </script>

        <section ng-controller="langController">
            
            <div id="header">
                <a href="/Maintenance"><img src="images/voo-logo.png"></a>
                <h1>{{ "Generic.Title" |t}}</h1>
            </div>
            

            <div class="error" ng-show="errorMessage"><span class="img-error">&nbsp;</span> {{errorMessage}}</div>
            <div class="info" ng-show="infoMessage"><span class="img-ok">&nbsp;</span> {{infoMessage}}</div>

            <div class="header">
                
                <div style="float: left">
                    <span>{{ "Generic.ChangeTranslationSet" |t}} </span>
                    <select ng-model="selectedTranslationSet">
                        <option ng-repeat="(k, trans) in translations">{{ k }}</option>
                    </select>
                </div>

                <div style="float: right">
                    <span>{{ "Generic.ChangeLanguage" |t}} </span>
                    <select ng-model="language.current" ng-change="language.change()" ng-options="lang.key as lang.name for lang in language.options"></select>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="transTable">
                <div ng-repeat="(k, trans) in translationsTable">
                    <ul class="row">
                        <li class="col clear">
                            <button ng-click="addTranslationSet(trans)"> + </button>
                        </li>
                        <li class="col">
                            <button ng-click="removeTranslationSet(trans)"> - </button>
                        </li>
                        <li class="col" ng-repeat="set in trans.translationSets">
                            <input type="text" style="width:100px" ng-model="set" pattern="[a-zA-Z0-9\.\_]{3,16}" required />
                        </li>
                    </ul>
                    <ul class="row" ng-repeat="(lang, val) in trans.values">
                        <li class="col">
                            <input type="text" ng-model="lang" pattern="[a-z]{2}" ng-disabled="1" style="width:14px;" required />
                        </li>
                        <li class="col">
                            <input type="text" class="trans-{{language.current}}" ng-model="val" placeholder="Your translation goes here..." required />
                        </li>
                    </ul>
                    <ul class="row">
                        <li class="col">
                            <button type="button" ng-click="sendUpdatedTranslation(trans);">{{ "Generic.Save" |t}}</button>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

        </section>

    </body>
</html>
