body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 1em; 
  padding: 0;
}

img { border: none; }

a {
  color: #00B7FF;
}

section {
    background: #fafafa;
    padding: 16px;
    margin: 0 auto;
    width: 780px;
    border: 1px solid #f0f0f0;
}

.header {
    padding: 4px 8px;
    background: #f3f6fa;
    border-top: 1px solid #e0e0e0;
}

.header div span {
    font-weight: bold;
    color: #da1d79;
}

.header div select {
    font-weight: bold;
    padding: 1px;
}


div#header {
    background-position: 0 -150px;
    height: 70px;
    padding: 20px 0 10px 20px;
}

div#header img {
    float: left;
}

div#header h1 {
    border-left: 1px solid #c0c0c0;
    color: #999;
    float: left;
    font-size: 21px;
    height: 38px;
    margin: 4px 0 0 20px;
    padding: 13px 0 0 20px;
    word-spacing: 6px;
}

.transTable {
    margin: 0;
    border-collapse: collapse;
}

.transTable > div {
    background: #D5D9DF;
    padding: 8px 10px;
    margin-top: 1em;
}

.transTable > div:nth-child(even) {
    background: #E6E6E6;
}

.transTable textarea {
    width: 99%;
    height: 5em;
}

.transTable th, .transTable tr, .transTable td {
    border: 1px solid #eee;
    padding: 2px 4px;
}

.transTable li {
    list-style: none;
    list-style-position:inside;
    vertical-align: middle;
}

.transTable .row {
    margin: 0;
    -webkit-padding-start: 0px;
}

.transTable .col {
    display: inline; 
}

.transTable .col input,
.transTable .col button {
    padding: 2px 4px;
}

.transTable .col button:hover {
    -webkit-box-shadow: 0 1px 3px #777;
    background: #FA1D79;
}
.transTable .col button {
    background: #DA1D79;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.95em;
    padding: 0.3em 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    vertical-align: middle;
}

.transTable .trans {
    width: 94%;
}

.transTable .col .save {
    margin-right: 0.35em;
    float: right;
}

.transTable .col .plusminus {
    height: 25px;
    width: 25px;
    padding: 0;
    margin-top: -3px;
    border-radius: 16px;
    line-height: 1em;
    font-size: 1em;
    outline: none;
}

.info {
    padding: 8px 4px;
    margin: 1em;
    color: #D7FAAB;
}

.error {
    padding: 8px 4px;
    margin: 1em;
    background: #FFBCAB;
}


.img-ok { background-position: 182px 0;}
.img-error { background-position: 158px 0;}
.img-error, .img-ok {
    background-image: url(../Images/glyphicons-halflings.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle; 
}


.clear {
    clear: both;
}

.edit-in-place span {
    cursor: pointer;
}
.edit-in-place input {
    display: none;
}
.edit-in-place.active span {
    display: none;
}
.edit-in-place.active input {
    display: inline-block;
}